<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-list *ngFor="let libro of librosEnPrestamo" >
      <ion-item color="danger" >
        <ion-label>{{libro.titulo}}</ion-label>
        <ion-label>{{libro.autores}}</ion-label>
        <ion-fab horizontal="end" (click)="deleteLibro(libro)">
          <ion-fab-button color="danger">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>