<ion-header>
  <ion-toolbar color="dark">
    <ion-title> Biblioteca friki </ion-title>
    <ion-button color="dark" [routerLink]="['/catalogo-page']">Catálogo <ion-icon name="library-outline"></ion-icon></ion-button>
    <ion-button color="dark" [routerLink]="['/mis-prestamos-page']">Mis prestamos <ion-icon name="book-outline"></ion-icon></ion-button>
    <ion-button color="dark" [routerLink]="['/home']">Login <ion-icon name="log-in-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>